body{
    background-color: white
    font-family: sans-serif;
}
#formdangky{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form label{
    font-weight: bold;
}
form{
    display: flex;
    width: 400px;
    height: 55%;
    padding: 10px;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ddd;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
form input{
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}
label{
    font-size: 17px;
}
#thongbao{
    height: 20%;
    margin: 0;
    font-size: 13px;
}
#xacnhan{
    align-self: center;
    background-color: rgb(171, 210, 113);
    color: white;
    width: 90%;
    height: 25%;
}
#chuyenform{
    align-self: flex-end;
}
